<div class="container_big-card">
  	<div class="big-card_main-post">
			<div class="big-card_img">
				<img src="../../../assets/post-1.png" alt="escrivania com 2 computadores, celular e outros enfeites">
			</div>
			<div class="big-card_title">
				<h2><a [routerLink]="['content', id]">{{cardTitle}}</a></h2>
			</div>
			<div class="big-card_description">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, animi. Facere aliquid sed similique sapiente quibusdam laudantium, atque vitae voluptates obcaecati est dolores provident tempora excepturi dolorem sint, esse itaque repellat aspernatur. Id mollitia labore dolorum nobis. Fuga, nulla culpa?</p>
			</div>
		</div>
		<div class="big-card_side-posts">
			<div class="side-post">
					<p class="date">janeiro 04, 2022</p>
					<h2><a [routerLink]="['content', id]">Conheça as principais técnicas para conseguir uma vaga internacional em progração</a></h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, debitis autem. Sunt asperiores nam omnis, sapiente dolor harum sed eaque quisquam facilis optio tempore dolore, excepturi quos nesciunt distinctio eius!</p>
			</div>
		  <div class="side-post">
				<p class="date">janeiro 04, 2022</p>
				<h2><a [routerLink]="['content', id]">Veja a evolução do Front-end na prática</a></h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quam quidem aliquam officiis dolorum rem illo similique sint culpa quibusdam?</p>
		  </div>
	  </div>
</div>

