.container_small-card {
	border-radius: 10px;
  width: 26vw;
}

.container_small-card-content {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
}

.container_small-card_separator{
	margin-top: 10px;
}


.small-card_description>p {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;


}

.small-card_description p a {
	color: #000;
}

.small-card_photo img {
	width: 100%;
}