<div class="container_content">
	<div class="content_header">
		<div class="content_title">
			<a [routerLink]="['']">
				<< VOLTAR
			</a>
			<h1>{{contentTitle}}</h1>
		</div>
		<div class="content_cover">
			<img src="{{photoCover}}" alt="">
		</div>
	</div>
	<div class="content_description">

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium asperiores quidem non et dolores at assumenda eveniet officiis, ratione eius autem commodi recusandae sed quos sunt quam maiores? Optio, dolore.
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi id eaque provident nemo. Dolorem quam veritatis iste. Laboriosam a magnam labore, fugiat, illo qui, aliquam iste saepe repudiandae provident vitae?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusantium impedit ipsum fugit hic cum, quasi natus, commodi recusandae consequuntur provident libero deserunt. Totam dicta aliquam dolores quo culpa magnam.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente  temporibus asperiores, repudiandae unde explicabo
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni aliquid incidunt ducimus? Cum, necessitatibus reiciendis. Recusandae tenetur nihil sunt quibusdam. Rem, iure? Quas aut exercitationem, soluta veniam voluptate a eaque.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint totam voluptatum incidunt. Asperiores cum ipsam tempore consequuntur velit dignissimos vero quas atque, magni vel minima, exercitationem totam doloremque beatae rerum.
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni aliquid incidunt ducimus? Cum, necessitatibus reiciendis. Recusandae tenetur nihil sunt quibusdam. Rem, iure? Quas aut exercitationem, soluta veniam voluptate a eaque.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint totam voluptatum incidunt. Asperiores cum ipsam tempore consequuntur velit dignissimos vero quas atque, magni vel minima, exercitationem totam doloremque beatae rerum.
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni aliquid incidunt ducimus? Cum, necessitatibus reiciendis. Recusandae tenetur nihil sunt quibusdam. Rem, iure? Quas aut exercitationem, soluta veniam voluptate a eaque.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint totam voluptatum incidunt. Asperiores cum ipsam tempore consequuntur velit dignissimos vero quas atque, magni vel minima, exercitationem totam doloremque beatae rerum.
		</p>
	</div>
</div>