<div class="container_articles">
	<div class="articles_main">
		<app-big-card id="1">
		</app-big-card>
	</div>
	<div class="articles_others">
		<app-small-card
			id="2"
			photoCover="../../../assets/post-2.png"
			cardTitle="10 dicas para conseguir a vaga desejada"
			cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum excepturi, quibusdam at numquam temporibus molestias aperiam quae atque cumque cum, aut, voluptas optio aspernatur! Quidem amet veniam magni fugiat obcaecati!"
		>
		</app-small-card>
		<app-small-card
			id="3"
			photoCover="../../../assets/post-3.png"
			cardTitle="Deixe seu código mais semântico com essas dicas"
			cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est expedita aspernatur asperiores architecto officia itaque molestias cupiditate cumque magni."

		>
		</app-small-card>
		<app-small-card
			id="4"
			photoCover="../../../assets/post-4.png"
			cardTitle="Novidade sobre o react Native"
			cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est expedita aspernatur asperiores architecto officia itaque molestias cupiditate cumque magni."
		>
		</app-small-card>

	</div>
</div>

