nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 3.2rem;
	font-size: 1.8rem;
  color: var(--white);
}


nav .search-input {
  display: flex;
}

nav .search-input input {
  width: 30rem;
  height: 4.4rem;
  background-color: var(--dark-bg);
  border: none;
  font-size: 1.4rem;
  padding: 1.4rem 2.5rem;
  color: white;
  outline: none;
}

nav .search-input button {
  width: 7rem;
  height: 4.4rem;
  background-color: var(--button-bg);
  border: none;
}